<%- include("./partials/header.ejs")%>

<% if(curr=="home" ){ %>
  <%- include("./partials/home.ejs")%>
<%}%>
<% if(curr=="create" ){ %>
  <%- include("./partials/create.ejs")%>
<%}%>
<% if(curr=="edit" ){ %>
  <%- include("./partials/edit.ejs")%>
<%}%>
<% if(curr=="edit-post" ){ %>
  <%- include("./partials/edit-post.ejs")%>
<%}%>
</body>
</html>